HELP.md
#.gradle
#build/
#!gradle/wrapper/gradle-wrapper.jar
#!**/src/main/**/build/
#!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### Test ###
### Ignore all files that could be used to test your code and
### you wouldn't want to push

# Reference https://en.wikipedia.org/wiki/Metasyntactic_variable

# Most common
*foo
*bar
*fubar
*foobar
*baz

# Less common
*qux
*quux
*bongo
*bazola
*ztesch

# UK, Australia
*wibble
*wobble
*wubble
*flob
*blep
*blah
*boop
*beep

# Japanese
*hoge
*piyo
*fuga
*hogera
*hogehoge

# Portugal, Spain
*fulano
*sicrano
*beltrano
*mengano
*perengano
*zutano

# France, Italy, the Netherlands
*toto
*titi
*tata
*tutu
*pipppo
*pluto
*paperino
*aap
*noot
*mies

# Other names that would make sense
*tests
*testsdir
*testsfile
*testsfiles
*test
*testdir
*testfile
*testfiles
*testing
*testingdir
*testingfile
*testingfiles
*temp
*tempdir
*tempfile
*tempfiles
*tmp
*tmpdir
*tmpfile
*tmpfiles
*lol

### Gradle ###
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

## Eclipse Gradle plugin generated files
## Eclipse Core
#.project
## JDT-specific (Eclipse Java Development Tools)
#.classpath

### Gradle Patch ###
# Java heap dump
*.hprof

# End of https://www.toptal.com/developers/gitignore/api/gradle,test